@tailwind base;
@tailwind components;
@tailwind utilities;
/* COLORS
dark
#0b0d17
light purple
#d0d6f9
white
#fff
*/

/* TYPOGRAPHY
h1 - Bellefair regular 150px
h2 - Bellefair regular 100px
h3 - Bellefair regular 56px
h4 - Bellefair regular 32px
h5 - Barlow Condensed regular 28px - 4.75 character space

// SubHeading h6
subheading 1 - h6 - Bellefair regular 28px - distance KM
subheading 2 - h5 -  Barlow Condensed regular 14px - 2.35 character space

// Nav Text
nav text -  Barlow Condensed regular 16px - 2.7 character space

 // Body Text
 18px 
 line height 32px
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1440px];
  }
}
// p barlow regular 18px
h5,
h2,
p {
  font-family: var(--font-barlow-condensed);
}
